html, body, #container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

#sidebar {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  overflow-y: auto;
  padding: 10px; /* Add some padding for better appearance */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Centers logos vertically */
  gap: 15px;
  padding-top: 10px;
}

.logo {
  height: 40px; /* Adjust as needed */
  width: auto; /* Ensures aspect ratio is maintained */
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers everything inside */
  text-align: center; /* Centers text */
}




#title p {
  margin: 10px 0 5px 0; /* Adds spacing above and below */
  font-weight: bold;
  font-size: 1.2rem;
}

#title hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}

h3 {
  color: #0290e3;
}

#layerListSection {
  margin-top: -12px;
}

#layerListContainer {
  height: 530px; /* Set a fixed height or adjust as needed */
}

#legendContainer {
  height: 300px; /* Set a fixed height or adjust as needed */
}
#layerListContainer, #legendContainer {
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
}

#displayMap {
  width: 75%;
  height: 100%;
  background-color: rgb(192, 199, 199);
}














.custom-popup {
  font-family: Arial, sans-serif;
  width: 100%;
}

/* Tab Buttons */
.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tab-buttons button {
  background: #ddd;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

.tab-buttons button.active {
  background: #0290e3;
  color: white;
}

/* Tab Content */
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
